.App {
  text-align: center;
}

.table {
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: 100px 150px 150px 100px;
  background: green;
  border: 2px solid black;
  border-radius: 35px;
  width: 90%;
}

.dealer {
  grid-column: 2 / 3;
  grid-row: 1;
}

.player {
  grid-column: 2 / 3;
  grid-row: 4;
}

.playerCards {
  align-self: center;
  justify-self: center;
  grid-column: 1 / span 4;
  grid-row: 3;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dealerCards {
  align-self: center;
  justify-self: center;
  grid-column: 1 / span 4;
  grid-row: 2;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  position: relative;
  float: left;
  margin-right: -50px;
  width: 100px;
  height: 140px;
  border-radius: 6px;
  border: 1.5px solid black;
  z-index: 1;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

